# Getting Started with Python in Jupyter

Welcome! You'll learn how to run Python code in Jupyter, write your first program, and do simple calculations.

**How to run a cell:** Press **Shift + Enter**.

## 0. Comments & Printing

- Comments start with `#` and are ignored by Python.
- `print()` shows text or values in the output.

In [ ]:
# This is a comment. It does nothing.
print("Hello, world!")  # This prints text

### Your Turn
Change the text inside `print()` to your own greeting and run the cell.

## 1. Python as a Calculator

Python understands arithmetic just like a calculator.
- `+` addition
- `-` subtraction
- `*` multiplication
- `/` division
- `()` parentheses for order

In [ ]:
print(2 + 3)
print((8 + 2) / 5)
print(7 * 9)
print(10 - 4)

5
2.0
63
6

### Exercise
Write an expression that:
1. Adds 12 and 7  
2. Multiplies the result by 3  
3. Divides by 4  
(Write your code below.)

## 2. Printing Multiple Items
`print` can take multiple items separated by commas. It automatically adds spaces.

In [ ]:
print("The answer is", 42, "and that's interesting.")

The answer is 42 and that's interesting.

### Mini-Challenge
Write a single `print` that outputs your name, age, and favorite color in one line.

## 3. Quick Debugging Tip
If something doesn't run, read the **error message** below the cell. It often tells you **where** and **why**.

---

# Variables, Data Types, and Input/Output

In this chapter you will:
- Use variables to store data
- Read user input
- Convert between data types

## 0. Variables

Think of variables as named boxes that store values.

In [ ]:
name = "Ada"
year = 2025
pi = 3.14159
is_student = True

print(name, year, pi, is_student)
type(name), type(year), type(pi), type(is_student)

Ada 2025 3.14159 True

(str, int, float, bool)

### 0. Datatypes

In [ ]:
# Common Built-in Data Types:

# Integers (int): Whole numbers
age = 30

# Floating-point numbers (float): Numbers with decimal points
price = 19.99

# Strings (str): Sequences of characters
city = "New York"

# Booleans (bool): True or False values
is_active = True

# Lists (list): Ordered, changeable collections
numbers = [1, 2, 3, 4]

# Tuples (tuple): Ordered, unchangeable collections
coordinates = (10, 20)

# Dictionaries (dict): Unordered key-value pairs
person = {"name": "Alice", "age": 25}

# Sets (set): Unordered collections of unique items
colors = {"red", "green", "blue"}

print(f"Integer example: {age}, Type: {type(age)}")
print(f"Float example: {price}, Type: {type(price)}")
print(f"String example: {city}, Type: {type(city)}")
print(f"Boolean example: {is_active}, Type: {type(is_active)}")
print(f"List example: {numbers}, Type: {type(numbers)}")
print(f"Tuple example: {coordinates}, Type: {type(coordinates)}")
print(f"Dictionary example: {person}, Type: {type(person)}")
print(f"Set example: {colors}, Type: {type(colors)}")

## 1. User Input with `input()`

`input()` reads text from the user. It returns a string.

In [ ]:
user_name = input("What is your name? ")
print("Hello,", user_name)

### Type Conversion

If you need numbers, convert strings using `int()` or `float()`.

In [ ]:
a = input("First integer: ")
b = input("Second integer: ")
print("Sum:", a + b)
print("Product:", a * b)
print("Average:", (a + b) / 2)

First integer: 3
Second integer: 3
Sum: 33

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
a = int(input("First integer: "))
b = int(input("Second integer: "))
print("Sum:", a + b)
print("Product:", a * b)
print("Average:", (a + b) / 2)

### Exercise
Ask the user for two **floating-point** numbers, and print:
- their sum
- their difference
- their product
- their quotient (second non-zero)

## 2. Formatting Output

Use f-strings for clean formatting.
https://fstrings.wtf/

In [ ]:
name = "Ada"
score = 91.3456
print(f"{name}'s score is {score:.1f}")

Ada's score is 91.3

### Challenge
Write a small script that:
1. Asks for a student's name
2. Asks for two exam scores (floats)
3. Prints the average to **one decimal** place using an f-string

---

# Chapter 3 — Branching with if/elif/else & Boolean Logic

You'll learn to make decisions in code using conditions.

## 0. Basic `if`

Use `if` to run code only when a condition is true.

In [ ]:
age = int(input("Enter your age: "))
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

## 1. `elif` and Grading Example

In [ ]:
grade = float(input("Enter grade (0-100): "))
if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >= 60:
    print("D")
else:
    print("F")

Enter grade (0-100): 94
A

## 2. Boolean Logic

- `and`, `or`, `not`
- Comparison operators: `==`, `!=`, `<`, `>`, `<=`, `>=`

In [ ]:
x = 7
y = 10
print(x < y and y < 20)  # True and True -> True
print(not (x == 7))      # not True -> False
print(x != y or x > y)   # True or False -> True

### Exercise — Even/Odd
Ask the user for an integer and print whether it is **even** or **odd**.
(Hint: `n % 2 == 0` means even.)

### Challenge — Leap Year
Ask the user for a year and print whether it is a leap year.

A year is a leap year if:
- divisible by 4 **and not** by 100, **or**
- divisible by 400

### Challenge — Password Strength (Basic)
Ask for a password and print:
- "Too short" if length < 8
- "Weak" if it has letters only
- "Okay" if it has letters and digits
- "Strong" if it has letters, digits, and a special character (e.g. `!@#$%`)

---

# Loops & Iteration

You'll practice `for` and `while` loops, counters, and simple games.

## 0. `for` Loop over a Sequence

In [ ]:
for ch in "Python":
    print(ch)

## 1. Looping with `range()`
`range(start, stop, step)` generates a sequence of integers.

In [ ]:
for i in range(1, 6):
    print("i =", i)

## 2. `while` Loops

Repeat while a condition is true.

In [ ]:
count = 0
while count < 5:
    print("Count:", count)
    count += 1

## 3. Guessing Game (with Random)

In [ ]:
import random

secret = random.randint(1, 10)
guess = None
attempts = 0

while guess != secret:
    guess = int(input("Guess a number (1-10): "))
    attempts += 1
    if guess < secret:
        print("Too low!")
    elif guess > secret:
        print("Too high!")
    else:
        print(f"Correct! You needed {attempts} attempts.")

### Exercise — Multiplication Table
Ask for `n` and print the multiplication table (1..10) for `n`.

### Exercise — Sum Until Zero
Keep asking the user for integers and add them to a running total.
Stop when the user enters `0`, then print the total.

### Challenge — Number Guess with Limited Attempts
Modify the guessing game so the player has **5 attempts**. If they fail, reveal the number.

---

# Functions, Lists, and Basic Problem Solving

In this chapter:
- Write your own functions
- Practice list operations
- Solve small, real problems

## 0. Functions

Define reusable blocks with `def`.

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

greet("Ada")

### Return Values
Use `return` to send a result back.

In [ ]:
def area_of_circle(r):
    pi = 3.14159
    return pi * r * r

print(area_of_circle(3))

### Exercise — Functions
Write two functions:
1. `fahrenheit_to_celsius(f)` → returns °C
2. `bmi(weight_kg, height_m)` → returns BMI (weight / height²), rounded to 1 decimal

## 1. Lists — Collections of Items

In [ ]:
nums = [3, 7, 2, 5, 10]
print("len:", len(nums))
print("sum:", sum(nums))
print("min:", min(nums))
print("max:", max(nums))

# indexing & slicing
print("first:", nums[0])
print("last:", nums[-1])
print("slice 1..3:", nums[1:4])

len: 5
sum: 27
min: 2
max: 10
first: 3
last: 10
slice 1..3: [7, 2, 5]

### Modifying Lists

In [ ]:
fruits = ["apple", "banana"]
fruits.append("cherry")
fruits.insert(1, "orange")
print(fruits)
fruits.remove("banana")
print(fruits)

### Exercise — Stats from Input
Ask the user for **5 integers**, store them in a list, then print:
- average
- smallest
- largest
- the list sorted ascending

## 2. Mini-Projects (Choose One)

Pick one to implement below.

**A) Gradebook**  
- Ask for student names and grades until the user enters blank name.  
- Store pairs in two lists or a list of tuples.  
- Print class average and the name of the top student.

**B) Text Analyzer (Simple)**  
- Ask for a line of text.  
- Print number of characters, words, and the most frequent character (excluding space).

**C) ATM Simulator (Tiny)**  
- Start with balance = 0.  
- Repeatedly ask for operation: `deposit`, `withdraw`, `balance`, `quit`.  
- Update and display balance accordingly (don’t allow negative balance).

### Stretch Challenge
Split your chosen mini-project into **functions** (e.g., `read_data()`, `compute()`, `show_results()`), then call them from a `main()` function.